body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* solution */
  padding: 8px;
}

.title {
  background: #e3f4ff;
  /* solution */
  margin-top: 0;
  font-size: 16;
  padding: 8px;

  margin-bottom: 8px;

}

.content {
  background: #e3f4ff;
  /* solution */
  padding: 16px 8px;

  /* margin-top: -12px; */
  margin-bottom: 8px;

}

.button-container {
  background: #e3f4ff;
  /* solution */
  padding: 8px;
  /* margin-top: 8px; */
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  /* solution */
  display: block;
  padding: 8px 24px;

  margin: 0px auto;
  /* text-align: center;
  justify-items: center; */
  
}